@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.nav-am a{
    color: #a72724;
    opacity: 1.0;
    padding: 1rem;
    font-family: 'Bitter', serif;
    font-size: large;
    font-weight: bold;
}

.nav-am a:hover{
    background-color: #a72724;
    color: #fff;
}

img{
    margin-left: 1rem;
}

.domus{
    display: flex;
}

.tutorials, .blog{
    flex: 1;
    padding: 0 5em 0 5em;
}

.blurb{
    padding: 0 5em 0 5em;
}


.yt{
    width: 50vw;
}

.yt > iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.datestamp{
    text-align: right;
}

th{
    padding: 5px;
    margin: 5px;
    border: 1px solid slategray;
}

td{
    padding: 5px;
    margin: 5px;
    border: 1px solid slategray;
}

.subject{
    color: #00B38F;
    font-style: italic;
}

.object{
    color: orangered;
    font-style: italic; 
}