.nav-am{
    background-color: rgba(127, 255, 212, 0.3);
    margin-bottom: 2rem;
}

.nav-am a{
    color: darkgoldenrod;
    opacity: 1.0;
    padding: 1rem;
}

.nav-am a:hover{
    background-color: rgba(127, 255, 212, 1);
}

.domus{
    display: flex;
}

.tutorials, .blog{
    flex: 1;
}

.blurb{
    padding: 0 5em 0 5em;
}

pre.language{
    font-size: small;
}

.yt{
    width: 80vw;
}

.yt > iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}