    <div id="scarf">
        <div class="red">&nbsp;</div>
        <div class="green"> </div>
        <div class="gold"> </div>
        <div class="tan"> </div>
        <div class="brown"> </div>
        <div class="purple"> </div>
        <div class="grey"> </div>
        <div class="red">&nbsp;</div>
        <div class="green"> </div>
        <div class="gold"> </div>
        <div class="tan"> </div>
        <div class="brown"> </div>
        <div class="purple"> </div>
        <div class="grey"> </div>
        <div class="red">&nbsp;</div>
        <div class="green"> </div>
        <div class="gold"> </div>
        <div class="tan"> </div>
        <div class="brown"> </div>
        <div class="purple"> </div>
        <div class="grey"> </div>
      </div>